.bg-v5-green-100 {
    background-color: rgb(45 248 197/var(--tw-bg-opacity))!important;
}
@media (min-width: 640px){
.sm\:rounded-b-\[200px\] {
    border-bottom-left-radius: 200px!important;
    border-bottom-right-radius: 200px!important;
}
sm\:py-12 {
    padding-bottom: 3rem!important;
    padding-top: 3rem!important;
}
}
.bg-v5-green-100, .bg-white {
    --tw-bg-opacity: 1!important;
}
.bg-white {
    background-color: rgb(255 255 255/var(--tw-bg-opacity))!important;
}
.fonts{
    font-size: 14px;
    line-height: 15px;
    text-align: left;

}
.justify-centers{
    justify-content:space-between;
}